.menu-bar {
    -fx-background-color: #27262F;
}
.menu-bar .label {
    -fx-text-fill: #FFFFFF;
}
.menu-bar .menu-button {
    -fx-background-color: #27262F;
}
.menu-bar .context-menu {
    -fx-background-color: #27262F;
}
.menu-bar .context-menu .menu-item {
    -fx-background-color: #27262F;
}
.menu-bar .context-menu .menu-item:hover {
    -fx-background-color: #C9B5FC;
}
.centre{
    -fx-alignment: center;
    -fx-background-color: #1A1922;
}
.right-menu{
    -fx-background-color: #27262F;
    -fx-padding: 10px;
    -fx-border-color: #999999;
    -fx-border-width: 1px;
}
.bottom-menu{
    -fx-background-color: #27262F;
    -fx-padding: 10px;
    -fx-border-color: #999999;
    -fx-border-width: 1px;
}

.slider-label {
    -fx-text-fill: #FFFFFF;
}
.slider {
    -fx-background-color: transparent;
}
.slider .track {
    -fx-background-color: #C5BBD6;
}
.slider .thumb {
    -fx-background-color: #ECB0C0;
    -fx-padding: 8px;
}
.slider .tick-mark {
    -fx-fill: #EFAFAD;
}

.cropping-button,
.filters-button,
.drawing-button {
    -fx-background-color: #C5BBD6;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-color: transparent;
}

.cropping-button:hover,
.filters-button:hover,
.drawing-button:hover {
    -fx-background-color: #ECB0C0 ;
}

.cropping-button:pressed,
.filters-button:pressed,
.drawing-button:pressed {
    -fx-background-color: #ECB0C0 ;
}


.marker-button {
    -fx-background-radius: 0;
    -fx-min-width: 25px;
    -fx-min-height: 25px;
    -fx-max-width: 25px;
    -fx-max-height: 25px;
    -fx-background-color: transparent;
}

.marker-button:selected{
    -fx-border-color: white;
    -fx-border-width: 2px;
}
.grid-pane {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

#RedMarker {
    -fx-background-color: red;
}

#OrangeMarker {
    -fx-background-color: orange;
}

#YellowMarker {
    -fx-background-color: yellow;
}

#GreenMarker {
    -fx-background-color: green;
}

#BlueMarker {
    -fx-background-color: blue;
}

#PurpleMarker {
    -fx-background-color: purple;
}

#PinkMarker {
    -fx-background-color: pink;
}

#BlackMarker {
    -fx-background-color: black;
}

#WhiteMarker {
    -fx-background-color: white;
}